/* .counter{
  width: 30%;
}
h1{
  display: flex;
  justify-content: center;
 align-items: center;
}
.button{
  display: flex;
  justify-content: space-around;
}
.todo{
  margin: 30px;
}
.checked {
  background-color: lightgreen;
} */